<mat-sidenav-container>

  <mat-sidenav #sidenav role="navigation">
    <app-navigation (closeSidenav)="sidenav.close()"></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <div fxLayoutAlign="center center">
      <main fxFlex="70%" fxLayoutGap="20px">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
