<div fxLayoutAlign="flex-start" *ngIf="projects; else loading">
  <mat-form-field fxFlex="40%">
    <mat-label class="filter">Filter...</mat-label>
    <input matInput class="filter" type="text" (keyup)="doFilter($event.target.value)">
  </mat-form-field>

  <button
  mat-raised-button
  class="create-project-button"
  (click)="openDialog()"
  [disabled]="loggedUser.availability <= 0"
  title="Your availability is {{ loggedUser.availability}}"
  >Create Project</button>
</div>

<mat-table [dataSource]="dataSource" matSort class="body-table">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
    <mat-cell *matCellDef="let project" id="project-title" [routerLink]="['/projects', project.id]">{{ project.title }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.status | titlecase }}</mat-cell>
  </ng-container>

  <ng-container title="Number of employees, working on the project" matColumnDef="capacity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Capacity</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.tasks.length }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.startDate }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Deadline</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.endDate }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ETC">
    <mat-header-cell title="Estimated time of completion" *matHeaderCellDef mat-sort-header>ETC</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ 5 }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="12" [pageSizeOptions]="[ 5, 12, 20]">
</mat-paginator>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
