.body-table {
  background-color: #EEEEEE;
}

mat-header-cell {
  background-color: hsla(341, 80%, 22%, 0.7);
  color: white;
  font-size: 1rem;
}

.create-project-button {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #630b27;
  border-color: #630b27;
  border-width: 2px;
}

.create-project-button:disabled {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #EEEEEE;
  border-width: 2px;
  --inv: #fff;
}

mat-cell {
  font-size: 0.9rem;
}


.mat-form-field-label{
  color:white !important;
}
.mat-form-field-underline{
  background-color:white !important;
}

#project-title {
  cursor: pointer;
}

.filter {
  color: rgb(182, 182, 182) !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgb(201, 201, 201) !important;
}


