<mat-tab-group animationDuration="500ms" class="container">
  <mat-tab label="All Projects">
    <app-all-projects></app-all-projects>
  </mat-tab>

  <mat-tab label="My managed Projects">
    <app-my-projects></app-my-projects>
  </mat-tab>
</mat-tab-group>


