::ng-deep .mat-tab-label, .mat-tab-labels, .mat-tab-link, .mat-ripple {
  font-size: 1rem;
  opacity: 0.8!important;
}

.mat-tab-label {
  color: rgb(201, 201, 201);
}



.mat-tab-group.mat-primary .mat-ink-bar {
background-color: rgb(201, 201, 201) !important;
}
