<mat-tab-group animationDuration="500ms" class="container">
  <mat-tab label="Sign in">

    <mat-card class="login-box">
      <mat-card-content class="login-content">
        <mat-form-field class="email">
          <mat-label>Enter your email</mat-label>
          <input class="email-input" #loginEmail matInput placeholder="Enter e-mail" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content class="login-content">
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input #loginPassword matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>

      <button mat-raised-button class="login-button"
        (click)="login(loginEmail.value, loginPassword.value)">Login</button>
    </mat-card>

  </mat-tab>

  <mat-tab label="Contacts">
    <mat-card class="contacts-box">
      <mat-card-title>Team TD</mat-card-title>
      <div class="content-holder">
        <mat-card-content>We are a dedicated team of young developers in training.
          It would be our pleasure if you provide us with constructive feedback
          so we can improve our application even more!
        </mat-card-content>
        <mat-card-content>For more information, feel free to contact our team of professional developers</mat-card-content>
      <mat-card-content>Trifon Dachev: business.dachev@gmail.com</mat-card-content>
      <mat-card-content>Diana Osotova: diana_060@mail.ru</mat-card-content>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>
