.container {
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 60%;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  margin-left: auto;
  margin-right: auto;
}

.login-box {
  min-height: 300px;
}

.contacts-box {
  min-height: 300px;
}

.login-content {
  margin-left: auto;
}

::ng-deep .mat-tab-label {
  color: white;
  font-size: 1.1rem;
  opacity: 0.8;
}

mat-label {
  color: rgb(12, 12, 12) !important;
}
.content-holder {
  margin-top: auto;
}
