<mat-card class="single-user-container">

  <div class="user-details-container" fxLayout="column" fxLayout.gt-sm="row">

    <mat-card-content class="column-1" fxLayout="column" fxLayout.gt-sm="row">
      <div>
        <img class="user-avatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </div>
      <div>
        <mat-card-title>{{(user$ | async)?.firstName}} {{(user$ | async).lastName}}</mat-card-title>
        <mat-card-subtitle> {{(user$ | async)?.position | titlecase}} </mat-card-subtitle>
        <mat-card-subtitle *ngIf="(user$ | async)?.role === 'manager'"> Manager </mat-card-subtitle>
        <mat-card-subtitle> {{(user$ | async)?.email}} </mat-card-subtitle>
      </div>
    </mat-card-content>

    <mat-card-content class="column-2">

    </mat-card-content>

    <mat-card-content class="column-3">
      <mat-card-content *ngIf="(user$ | async).manager" [routerLink]="['/users', (user$ | async).manager.id]">
        Manager : {{(user$ | async).manager.firstName}} {{(user$ | async).manager.lastName}}
      </mat-card-content>
      <mat-card-content *ngIf="!(user$ | async).manager">
        Self-managed
      </mat-card-content>
      <mat-card-content>Subordinates: {{(user$ | async)?.subordinates.length}}</mat-card-content>
    </mat-card-content>

    <mat-card-content class="column-4">
      <mat-card-content>Availability: {{(user$ | async)?.availability}}</mat-card-content>
      <mat-card-content>Tasks: {{(user$ | async)?.tasks.length}}</mat-card-content>
      <mat-card-content>Skills: {{(user$ | async)?.skills.length}}</mat-card-content>
    </mat-card-content>

  </div>

  <div>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

      <mat-expansion-panel-header>
        <mat-panel-title>
          SKILLS
        </mat-panel-title>
        <mat-panel-description>
          <!-- view all skills -->
        </mat-panel-description>

      </mat-expansion-panel-header>


      <button mat-raised-button id="addSkillBtn" (click)="showAddSkill = true">Add Skill</button>

      <mat-card *ngIf="showAddSkill" class="addSkillContainer">
        <mat-select placeholder="Choose Skill" [(ngModel)]="currentSkill" id="currentSkill">
          <mat-option *ngFor="let skill of skills$ | async | filterSkillsForAdding:existingSkills" [value]="skill.id" >
            {{ skill.name | titlecase }}
          </mat-option>
        </mat-select>

        <mat-card-actions class="actions">
          <button mat-raised-button (click)="addSkill()">Add</button>
          <button mat-raised-button (click)="showAddSkill = false">Cancel</button>
        </mat-card-actions>
      </mat-card>

      <div *ngFor="let skill of (user$ | async).skills" class="single-skill-container">
        {{skill.name | titlecase}}
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          TASKS
        </mat-panel-title>
        <mat-panel-description>
          <!-- View current tasks -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="tasks-container"  fxLayout="column" fxLayout.gt-sm="row" *ngIf="(user$ | async).tasks.length > 0">
        <mat-card *ngFor="let task of (user$ | async).tasks" class="single-task-container">
          <mat-card-header class="single-task-header" [routerLink]="['/projects', task.__project__.id]">Project: {{task.__project__.title}}</mat-card-header>
          <mat-card-subtitle>Started: {{task.__project__.startDate}}</mat-card-subtitle>
          <mat-card-content>Required technology: {{task.skill.name}}</mat-card-content>
          <mat-card-content>Daily input(h): {{task.hours}}</mat-card-content>
        </mat-card>
      </div>

      <div class="tasks-container" *ngIf="(user$ | async).tasks.length === 0">
          <p id="no-tasks">This employee has no tasks yet</p>
      </div>

    </mat-expansion-panel>

  </div>

</mat-card>
