.single-user-container {
  width: auto;
  min-width: 300px;
  margin-top: 48px;
}

.user-avatar {
  height: 145px;
  width: 135px;
  border-radius: 50%;
  padding-right: 15px;
}

.user-details-container {
  display: flex;
  margin-bottom: 3%;
  margin-top: 10px;
  font-size: 1rem;
}

.single-skill-container {
  display: flex;
  /* justify-content: center; */
  border-bottom: black 0.2px;
  font-size: 18px;
  background-color: #eeeeee;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
}

.tasks-container {
  display: flex;
  margin-top: 10px;
  min-width: 250px;
}

.single-task-container {
  justify-content: center;
  margin: 1%;
  background-color: #eeeeee;
}

.single-task-header {
  font-size: 20px;
  margin-bottom: 4%;
}

.single-task-header:hover {
  color: rgba(141, 23, 60);
  cursor: pointer;
}

.column-1 {
  margin-right: auto;
}

.column-2 {
  margin-right: auto;
  margin-left: -10%;
}

.column-3 {
  margin-right: auto;
}

.column-4 {
  margin-right: auto;
}

mat-expansion-panel {
  margin-bottom: 0.5%;
  background-color: rgba(141, 23, 60, 0.8);
}

mat-panel-title {
  color: white;
}

#no-tasks {
  color: white;
  font-size: 1.2rem;
}

mat-card-subtitle {
  font-size: 1rem;
}

#addSkillBtn {
  color: rgba(141, 23, 60);
  margin: 8px;

}

.addSkillContainer {
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #eeeeee;
  width: 250px;
}

.actions {
  margin-top: 30px;
  color: rgba(141, 23, 60);
}


