<div fxLayoutAlign="flex-start" class="search-box">
  <mat-form-field fxFlex="40%" appearance="fill">
    <mat-label >Filter...</mat-label>
    <input matInput type="text" class="filter" (keyup)="doFilter($event.target.value)">
  </mat-form-field>

  <button mat-raised-button *ngIf="(loggedUser$ | async).role === 'admin'" class="create-user-button" (click)="openDialog()">Create User</button>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let user" class="userIdLink" [routerLink]="['/users', user.id]">{{ user.firstName }} {{ user.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.role | titlecase }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.position | titlecase}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="availability">
    <mat-header-cell title="Available work hours" *matHeaderCellDef mat-sort-header>Availability</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.availability }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="skills">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Skills</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.skills.length }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="tasks">
    <mat-header-cell title="Total task in all projects" *matHeaderCellDef mat-sort-header>Tasks</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.tasks.length }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="12" [pageSizeOptions]="[ 5, 12, 20]">
</mat-paginator>
