<mat-card class="single-user-container">

  <div class="user-details-container" fxLayout="column" fxLayout.gt-sm="row">

    <mat-card-content class="column-1" fxLayout="column" fxLayout.gt-sm="row">
      <div>
        <img class="user-avatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </div>

      <div>
        <mat-card-title title="Manager's full name">{{loggedUser?.firstName}} {{loggedUser?.lastName}}</mat-card-title>
        <mat-card-subtitle title="Position"> {{loggedUser?.position}} </mat-card-subtitle>
        <mat-card-subtitle title="User role" *ngIf="loggedUser?.role === 'manager'"> Manager </mat-card-subtitle>
        <mat-card-subtitle title="E-mail address"> {{loggedUser?.email}} </mat-card-subtitle>
      </div>
    </mat-card-content>

    <mat-card-content class="column-3">
      <mat-card-content *ngIf="loggedUser?.manager" [routerLink]="['/users', loggedUser?.manager.id]">
        Manager : {{loggedUser?.manager.firstName}} {{loggedUser?.manager.lastName}}
      </mat-card-content>
      <mat-card-content *ngIf="!loggedUser?.manager">
        Self-managed
      </mat-card-content>
      <mat-card-content>Subordinates: {{loggedUser?.subordinates.length}}</mat-card-content>
    </mat-card-content>

    <mat-card-content class="column-4">
      <mat-card-content title="Available workhours">Availability: {{loggedUser?.availability}}</mat-card-content>
      <mat-card-content title="Project assignments">Tasks: {{loggedUser?.tasks.length}}</mat-card-content>
      <mat-card-content title="Proffesional skill-set">Skills: {{loggedUser?.skills.length}}</mat-card-content>
    </mat-card-content>
  </div>

  <div class="tables-container" fxLayout="column" fxLayout.gt-sm="row">

    <div class="tables-holder">
      <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">

        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            MANAGED PROJECTS
          </mat-panel-title>
          <mat-panel-description>
            <!-- view all skills -->
          </mat-panel-description>

        </mat-expansion-panel-header>

        <mat-table [dataSource]="dataSource" matSort #sort="matSort" class="body-table">
          <ng-container matColumnDef="title">
            <mat-header-cell title="Project title" *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let project" id="project-title" [routerLink]="['/projects', project.id]">
              {{ project.title }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="management">
            <mat-header-cell title="Workhours for management" *matHeaderCellDef mat-sort-header>Management(h)
            </mat-header-cell>
            <mat-cell *matCellDef="let project">{{project.tasks[0].hours}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="deadline">
            <mat-header-cell title="Deadline" *matHeaderCellDef mat-sort-header>Deadline</mat-header-cell>
            <mat-cell *matCellDef="let project">{{project.endDate | date}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="etc">
            <mat-header-cell title="Estimated time of completion" *matHeaderCellDef mat-sort-header>ETC
            </mat-header-cell>
            <mat-cell *matCellDef="let project">

                {{this.coreService.calculateEndDate(project) | date}}

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

      </mat-expansion-panel>
    </div>

    <div class="tables-holder">
      <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            SUBORDINATES
          </mat-panel-title>
          <mat-panel-description>
            <!-- View current tasks -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-subordinates></app-subordinates>

      </mat-expansion-panel>
    </div>
  </div>

</mat-card>
