.single-user-container {
  width: auto;
  min-width: 300px;
  margin-top: 48px;
}

.user-avatar {
  height: 145px;
  width: 135px;
  border-radius: 50%;
  padding-right: 15px;
}

.user-details-container {
  display: flex;
  margin-bottom: 3%;
}


.tasks-container {
  display: flex;
}

.single-task-header {
  font-size: 20px;
  margin-bottom: 4%;
}

.column-1 {
  margin-right: auto;
}

.column-2 {
  margin-right: auto;
  /* margin-left: -10%;
  padding-left: 25px;
  padding-right: 60px;
  min-width: 180px; */
}

.column-3 {
  margin-right: auto;
}

.column-4 {
  margin-right: auto;
}

mat-expansion-panel {
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.panel-header {
  margin: auto;
  width: auto;
}

.tables-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tables-holder {
  margin-left: 1%;
  width: 100%;
  padding-bottom: 15px;
}

mat-expansion-panel {
  background-color: rgba(141, 23, 60, 0.7);
}

mat-panel-title {
  color: white;
}

mat-header-cell {
  background-color:#EEEEEE;
}

#project-title:hover {
  cursor: pointer;
}
