.single-project-container {
  background-color: #EEEEEE;
  width: auto;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.project-title {
  font-size: 1.8rem;
  padding-left: 20px;
  display: flex;
  background-color: #EEEEEE;
}

.user-details-container {
  /* background-color: #EEEEEE; */
  display: flex;
  margin-bottom: 3%;
  color: black;
}

.project-description {
  font-size: 1rem;
  width: 100%;
}

.project-info {
  background-color:#EEEEEE;
}

.project-intervals {
  font-size: 1rem;
  color: black;
  /* padding-left: 10px; */
}

.properties {
  color: white;
  background-color: rgba(141, 23, 60, 0.8);
  padding-left: 10px;
  font-size: 1.3rem;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.resources {
  margin-top: 10px;
  background-color: rgba(141, 23, 60, 0.8);
  color: white;
  font-size: 1.3rem;
}

.resource-hours {
  display: inline-block;
  margin-left: auto;
}

.user-avatar {
  height: 145px;
  width: 135px;
  border-radius: 50%;
}

.single-skill-container {
  display: flex;
  justify-content: center;
  border-bottom: black 0.2px;
  font-size: 16px;
}

.tasks-card {
  min-width: 150px;
  max-width: 150px;
  border: 1px 1px 1px 1px black;
  background-color: #EEEEEE;
  padding: 10px;
  margin: 10px;
}

.single-task-container {
  justify-content: center;
  margin: 1%;
}

.single-task-header {
  font-size: 20px;
  margin-bottom: 4%;
}

.tasks-container {
  display: flex;
}

.manager-details {
  padding-left: 25px;
  padding-right: 60px;
  min-width: 180px;
}

mat-card-subtitle {
  font-size: 1rem;
}

#employee-name {
  color: black;
  cursor: pointer;
}

#employee-name:hover {
  color: rgba(141, 23, 60);
}

#skill-name {
  color: black;
  margin-top: 15px;
}

.column-4 {
  margin-right: auto;
}

mat-expansion-panel {
  margin-bottom: 0.5%;
  margin-top: 10px;
}

mat-panel-title {
  font-size: 1.2rem;
  color: white;
}

#project-manager-name {
  cursor: pointer;
}

#project-manager-name:hover {
  color: rgba(141, 23, 60);
}

#addTaskBtn {
  color: rgba(141, 23, 60);
}

#addResourceBtn {
  color: rgba(141, 23, 60);
  margin-top: 5px;
}

.update-time-btn {
  color: rgba(141, 23, 60);
  margin-left: auto;
  height: 25%;
}

#stopProjectBtn {
  background-color: rgba(141, 23, 60);
  color: white;
  font-size: 1rem;
  position: relative;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.update-resource-container {
  display: inline-flex;
}

/* .green {
  color: green;
}

.red {
  color: red;
} */

.update-resource-form {
  display: inline-flex;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 95%;
}

#update-hours-btn {
  float: right;
  margin-left: auto;
  margin-right: 5px;
  /* display: inline-block; */
  color: rgba(141, 23, 60);
  background-color: #EEEEEE;
}

#cancel-hours-btn {
  color: rgba(141, 23, 60);
  background-color: #EEEEEE;
  margin-left: 5px;
}
