<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>

<mat-card class="single-project-container" *ngIf="project; else loading">

  <div class="project-title">
    <p>{{ project.title }}</p>
    <button *ngIf="project.status !== 'completed' && project.status !== 'stopped' && project.manager.id === (authUser$ | async).loggedUserId" mat-raised-button id="stopProjectBtn"
      (click)="stopProject()">Stop Project</button>
  </div>

  <div>
    <hr />
  </div>

  <div class="user-details-container" fxLayout="column" fxLayout.gt-sm="row">

    <mat-card-content class="avatar">
      <div>
        <img class="user-avatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </div>
    </mat-card-content>

    <mat-card-content class="manager-details">
      <mat-card-title id="project-manager-name" [routerLink]="['/users', project.manager.id]">
        {{ project.manager.firstName}} {{ project.manager.lastName }}</mat-card-title>
      <mat-card-subtitle> {{ project.manager.position }} </mat-card-subtitle>
      <mat-card-subtitle> Manager </mat-card-subtitle>
      <mat-card-subtitle> {{ project.manager.email }} </mat-card-subtitle>
    </mat-card-content>

    <mat-card-content class="project-description">
      <p class="properties">Description:</p>
      <p>{{ project.description }}</p>
    </mat-card-content>
  </div>

  <hr />

  <div>
    <mat-card-content class="project-intervals">
      <p class="properties">Intervals:</p>
      <p>Start Date: {{ project.startDate | date }}</p>
      <p>Deadline: {{ project.endDate | date }}</p>
      <p title="Estimated Time Of Completion" [ngClass]="{ green: onTime === true, red: onTime === false }">
        ETC: {{ this.coreService.calculateEndDate(project) | date }}</p>
        <p>Status: {{project.status | titlecase}}</p>
    </mat-card-content>
  </div>


  <div>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="resources">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Resources
        </mat-panel-title>
        <mat-panel-description>
          <!-- view all skills -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button *ngIf="project.status !== 'completed' && project.status !== 'stopped' && project.manager.id === (authUser$ | async).loggedUserId" mat-raised-button
        id="addResourceBtn" (click)="openResourceDialog()">Add Resource</button>

      <div *ngFor="let resource of project.resources; index as i" fxLayout="column">

        <div>
          <hr />
        </div>

        <div fxFlex fxLayout="row">
          <p>Resource skill</p>
          <p title="Total time/ Work hours left until completion " class="resource-hours">Hours / left:</p>
        </div>

        <button mat-raised-button class="update-time-btn" *ngIf="project.manager.id === (authUser$ | async).loggedUserId" (click)="this.openShowUpdateResource(i)">Update
          time</button>

        <div *ngIf="this.showUpdateResource[i]" >
          <mat-card class="update-resource-form">
              <input matInput placeholder="Enter resource hours" [formControl]="resourceHours" class="hours-input">
            <button mat-raised-button
              (click)="updateResourceTime(project.id, resource.id, +(this.resourceHours.value), i)" id="update-hours-btn">Update
            </button>
            <button mat-raised-button (click)="closeShowUpdateResource(i)" id="cancel-hours-btn">Cancel</button>
          </mat-card>
        </div>

        <div>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title id="skill-name">
                {{ resource.skill.name }}
              </mat-panel-title>
              <mat-panel-description *ngIf="resource.isDeleted === false">
                <p class="resource-hours">{{ resource.hours }} / {{ calculateTime(resource) }}</p>
              </mat-panel-description>
              <mat-panel-description *ngIf="resource.isDeleted === true">
                <p class="resource-hours">{{ resource.hours }} / completed </p>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <hr />

            <div *ngIf="resource.isDeleted === false; else isCompleted">

              <button mat-raised-button id="addTaskBtn" *ngIf="project.manager.id === (authUser$ | async).loggedUserId" (click)="openTaskDialog(resource)">Add Task</button>

              <div class="tasks-container">
                <div *ngFor="let task of project.tasks">
                  <div *ngIf="task.skill.name === resource.skill.name">
                    <mat-card class="tasks-card">
                      <mat-card-subtitle id="employee-name" [routerLink]="['/users', task.user.id]">
                        {{ task.user.firstName }} {{ task.user.lastName }}</mat-card-subtitle>
                      <mat-card-content>Started: {{ task.startDate }}</mat-card-content>
                      <mat-card-content>Daily input(h): {{ task.hours }}</mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>

            <ng-template #isCompleted>
              <h3>Completed</h3>
            </ng-template>

          </mat-expansion-panel>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
