<h2 mat-dialog-title>Create Task</h2>

<mat-dialog-content class="mat-typography" >

  <!-- <input matInput placeholder="Please enter a project name here"
  [(ngModel)]="title" [formControl]="nameFormControl"> -->
<form [formGroup]="form" fxFlex="500px">

  <div class="taskFormArray">
    <mat-select placeholder="Choose Employee" formControlName="userId" class="taskFormGroup" id="employeeName">
      <mat-option *ngFor="let user of users$ | async | filterUserBySkill:data.skill.id" [value]="user.id">
        {{ user.firstName }}
        {{ user.lastName }}
        {{ user.availability }}
      </mat-option>
    </mat-select>

    <mat-form-field class="taskFormGroup">
      <mat-label placeholder="Enter hours" class="title-label">Hours:</mat-label>
      <input matInput type="number" formControlName="hours">
    </mat-form-field>
  </div>

  <div *ngIf="form.get('userId').touched && form.get('userId').invalid" class="validation">
    <small *ngIf="form.get('userId').errors.required">
      Please choose employee
    </small>
  </div>

  <div *ngIf="form.get('hours').touched && form.get('hours').invalid" class="validation">
    <small *ngIf="form.get('hours').errors.required">
      Please enter daily input in h
    </small>
  </div>

  <div *ngIf="form.get('hours').touched && form.get('hours').invalid" class="validation">
    <small *ngIf="form.get('hours').errors.min">
      Daily input must be at least 1 h
    </small>
  </div>

  <div *ngIf="form.get('hours').touched && form.get('hours').invalid" class="validation">
    <small *ngIf="form.get('hours').errors.max">
      Daily input must be max 8 h
    </small>
  </div>

</form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" id="createTaskBtn" cdkFocusInitial (click)="createTask()">Create</button>
</mat-dialog-actions>
