.taskFormArray {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  border-color: hsla(341, 80%, 22%, 0.7);
  background-color: #EEEEEE;
  padding: 20px;
}

.mat-typography {
  display: flex;
  flex: 1;
  border-bottom: rgba(141, 23, 60, 0.7) solid 1px;
  border-top: rgba(141, 23, 60, 0.7) solid 1px;
  background: white;
}

#skillName, #employeeName {
  padding-top: 15px;
}

#createTaskBtn {
  background-color: rgba(148, 28, 28, 0.32);
}

.validation {
  color: red;
}
