<h2 mat-dialog-title>Create User</h2>

<mat-dialog-content class="mat-typography">


  <form [formGroup]="form" fxFlex="350px">
    <div class="emailField">
      <mat-form-field>
        <mat-label class="email-label">Email:</mat-label>
        <input matInput class="email-input" type="text" formControlName="email">
      </mat-form-field>

      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
        <small *ngIf="form.get('email').errors.required">
          Please enter your email
        </small>
      </div>

      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
        <small *ngIf="form.get('email').errors.email">
          Please enter a valid email
        </small>
      </div>

      <div *ngIf="form.get('email').touched" class="validation">
        <small *ngIf="emailsToCompare.includes(form.get('email').value)">
          This email already exists
        </small>
      </div>
    </div>
    
    <div>
      <mat-form-field>
        <mat-label class="password-label">Password:</mat-label>
        <input matInput class="password-input" type="text" formControlName="password">
      </mat-form-field>

      <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
        <small *ngIf="form.get('password').errors.required">
          Please enter your password
        </small>

        <small *ngIf="form.get('password').errors.minlength">
          Password should be at least 4 characters long
        </small>

        <small *ngIf="form.get('password').errors.maxlength">
          Password should be max 20 characters long
        </small>
      </div>
    </div>

    <div>
      <mat-form-field>
        <mat-label class="firstName-label">First name:</mat-label>
        <input matInput class="firstName-input" type="text" formControlName="firstName">
      </mat-form-field>

      <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="validation">
        <small *ngIf="form.get('firstName').errors.required">
          Please enter your first name
        </small>

        <small *ngIf="form.get('firstName').errors.minlength">
          First name should be at least 2 characters long
        </small>

        <small *ngIf="form.get('firstName').errors.maxlength">
          First name should be max 20 characters long
        </small>
      </div>
    </div>

    <div>
      <mat-form-field>
        <mat-label class="firstName-label">Middle name:</mat-label>
        <input matInput class="middleName-input" type="text" formControlName="middleName">
      </mat-form-field>

      <div *ngIf="form.get('middleName').touched && form.get('middleName').invalid" class="validation">
        <small *ngIf="form.get('middleName').errors.required">
          Please enter your middle name
        </small>

        <small *ngIf="form.get('middleName').errors.minlength">
          Middle name should be at least 2 characters long
        </small>

        <small *ngIf="form.get('middleName').errors.maxlength">
          Middle name should be max 20 characters long
        </small>
      </div>
    </div>

    <div>
      <mat-form-field>
        <mat-label class="lastName-label">Last name:</mat-label>
        <input matInput class="lastName-input" type="text" formControlName="lastName">
      </mat-form-field>

      <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class="validation">
        <small *ngIf="form.get('lastName').errors.required">
          Please enter your last name
        </small>

        <small *ngIf="form.get('lastName').errors.minlength">
          Last name should be at least 2 characters long
        </small>

        <small *ngIf="form.get('lastName').errors.maxlength">
          Last name should be max 20 characters long
        </small>
      </div>
    </div>

    <div class="roles-box">
      <mat-select placeholder="Choose Role" formControlName="role" [(ngModel)]="currentRole">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </div>

    <mat-select *ngIf="currentRole !== 'manager'" placeholder="Choose Manager" formControlName="managerId">
      <mat-option *ngFor="let manager of managers" [value]="manager.id">
        {{ manager.firstName }} {{manager.lastName}}
      </mat-option>
    </mat-select>

    <div *ngIf="form.get('managerId').touched && form.get('managerId').invalid" class="validation">
      <small *ngIf="form.get('managerId').errors.required">
        Please choose the manager
      </small>
    </div>

    <div >
      <mat-form-field>
        <mat-label class="position-label">Position:</mat-label>
        <input matInput class="position-input" type="text" formControlName="position">
      </mat-form-field>

      <div *ngIf="form.get('position').touched && form.get('position').invalid" class="validation">
        <small *ngIf="form.get('position').errors.required">
          Please enter the position
        </small>

        <small *ngIf="form.get('position').errors.minlength">
          Position should be at least 2 characters long
        </small>

        <small *ngIf="form.get('position').errors.maxlength">
          Position should be max 20 characters long
        </small>
      </div>
    </div>

    <div *ngIf="currentRole !== 'manager'" formArrayName="skills" class="skills-box">
      <div *ngFor="let skill of skills.controls; let i=index">
        <mat-select placeholder="Choose Skill" [formControlName]="i">
          <mat-option *ngFor="let skill of skills$ | async" [value]="skill.name">
            {{ skill.name }}
          </mat-option>
        </mat-select>
      </div>
      <button mat-raised-button class="add-skill-button" (click)="addSkill()">Add Skill</button>
    </div>

    <div *ngIf="currentRole === 'manager'" formArrayName="skills" class="skills-box">
      <div *ngFor="let skill of skills.controls; let i=index">
        <mat-select placeholder="Choose Skill" [formControlName]="i">
          <mat-option *ngFor="let skill of skills$ | async | filterSkillsForManagers" [value]="skill.name">
            {{ skill.name }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="create-btn" (click)="createUser()">Create</button>
</mat-dialog-actions>
