.mat-typography {
  min-width: 300px;
}

.roles-box {
  margin-bottom: 15px;
}

.add-skill-button {
  border-radius: 10%;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: rgba(141, 23, 60, 0.7);
  color: white;
}

.mat-typography {
  border-bottom: rgba(141, 23, 60, 0.7) solid 1px;
  border-top: rgba(141, 23, 60, 0.7) solid 1px;
  justify-content: center;
  display: flex;
  flex: 1;
}

mat-form-field {
  width: 90%;
}

.emailField {
  margin-top: 20px;
}

.validation {
  color: red;
}

.roles-box {
  margin-top: 5px;
}

.skills-box {
  padding-left: 5px;
  padding-bottom: 10px;
}

mat-select {
  padding-top: 5px;
  padding-bottom: 5px;
}

.create-btn {
  background-color: rgba(148, 28, 28, 0.32);
}

mat-label {
  color: rgb(12, 12, 12) !important;
}
