<mat-toolbar>
  <div fxHide.gt-xs>
    <button class="menu" mat-icon-button (click)="onToggleSidenav()" [disabled]="true">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logo">
    <a routerLink="/">TaDa</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
    <ul fxLayout fxLayoutGap="85px" class="navigation-items">
      <li *ngIf="loggedUser" class="nav-caption">
        <a routerLink="/users/dashboard">Dashboard</a>
      </li>
      <li *ngIf="loggedUser" class="nav-caption">
        <a [routerLink]="['/projects']">Projects</a>
      </li>
      <li *ngIf="loggedUser" class="nav-caption">
        <a [routerLink]="['/users']">Employees</a>
      </li>
      <li *ngIf="loggedUser && loggedUser.role === 'admin'" class="nav-caption">
        <a  [routerLink]="['/skills']">Skills</a>
      </li>
    </ul>
  </div>

  <div *ngIf="!(loggedIn$ | async)">
    <div fxLayout fxLayoutAlign="flex-end" class="logout">
      <a style="cursor: pointer" [routerLink]="['/login']">Login</a>
    </div>
  </div>

  <div *ngIf="(loggedIn$ | async)">
    <div fxLayout fxLayoutAlign="flex-end" class="logout">
      <a style="cursor: pointer" (click)="logout()">Logout</a>
    </div>
  </div>

</mat-toolbar>
