a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightblue;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
}

mat-toolbar {
  background-color: #5D001E;
}

#log {
  list-style: none;
  /* padding-left: 50px; */
}

.logout {
  /* display: flex; */
  margin-left: auto;
  text-align: right;
  justify-content: flex-end;
  /* float: right; */
}

.logo {
  padding-left: 10px;
}

.menu {
  color: white;
}
