.resourceFormGroup {
  display: inline-block;
}

.resourceFormArray {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  border-color: hsla(341, 80%, 22%, 0.7);
  background-color: #EEEEEE;
  padding: 10px;
  margin-top: 20px;
}

.taskFormArray {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  border-color: hsla(341, 80%, 22%, 0.7);
  background-color: #EEEEEE;
  padding: 10px;
}

textarea {
  min-height: 100px;
}

.mat-typography {
  display: flex;
  flex: 1;
  border-bottom: rgba(141, 23, 60, 0.7) solid 1px;
  border-top: rgba(141, 23, 60, 0.7) solid 1px;
  background: white;
}

mat-form-field {
  width: 90%;
}

.resourceFormGroup, .taskFormGroup {
  width: 50%;
}

#skillName, #employeeName {
  padding-top: 15px;
}

#addResourceBtn {
  background-color: hsla(341, 80%, 22%, 0.7);
  color: white;
}

#addTaskBtn {
  color: #630b27;
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h3 {
  border: 2px;
  font-size: 1rem;
  text-decoration: underline;
  color: #630b27;
  margin-top: 15px;
}

#resourceTitle {
  font-size: 1.2rem;
}

.taskBtn-container {
  display: flex;
  width: 92%;
}

#removeTaskBtn, #removeResourceBtn {
  color: #630b27;
  margin-top: 16px;
}

::ng-deep .mat-select-disabled .mat-select-value {
  color:black!important;
}

.validation {
  color: red;
}

#createProjectBtn {
  background-color: rgba(148, 28, 28, 0.32);
}

.mat-dialog-container {
  background: #EEEEEE!important;
}

mat-label {
  color: rgb(12, 12, 12) !important;
}
