<h2 mat-dialog-title>Create Project</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" fxFlex="500px">
    <mat-form-field>
      <mat-label class="title-label">Title:</mat-label>
      <input matInput class="title-input" type="text" formControlName="title" />
    </mat-form-field>

    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <small *ngIf="form.get('title').errors.required">
        Please enter a project title
      </small>
    </div>

    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <small *ngIf="form.get('title').errors.minlength">
        Project title should be at least 4 characters long
      </small>
    </div>

    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <small *ngIf="form.get('title').errors.maxlength">
        Project title should be max 20 characters long
      </small>
    </div>

    <div *ngIf="form.get('title').touched" class="validation">
      <small *ngIf="titlesToCompare.includes(form.get('title').value)">
        Project with this title already exists
      </small>
    </div>

    <div>
      <mat-form-field>
        <mat-label class="description-label">Description:</mat-label>
        <textarea
          matInput
          class="description-input"
          type="text"
          formControlName="description">
        </textarea>
      </mat-form-field>

      <div
        *ngIf="form.get('description').touched && form.get('description').invalid"
        class="validation">
        <small *ngIf="form.get('description').errors.required">
          Please enter a project description
        </small>

        <small *ngIf="form.get('description').errors.minlength">
          Project description should be at least 4 characters long
        </small>
      </div>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter the Deadline"
          [matDatepicker]="endDate"
          [min]="minDate"
          formControlName="endDate"/>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <div
        *ngIf="form.get('endDate').touched && form.get('endDate').invalid"
        class="validation">
        <small *ngIf="form.get('endDate').errors.required">
          Please enter the deadline
        </small>
      </div>
    </div>

    <div formArrayName="resources">
      <button mat-raised-button (click)="addResource()" id="addResourceBtn">
        Add Resource
      </button>

      <div *ngFor="let resource of resources.controls; let i = index">
        <hr />
        <h3 id="resourceTitle">New Resource:</h3>
        <div [formGroupName]="i">
          <div class="resourceFormArray">
            <mat-select
              (ngModelChange)="setSkillForFilter($event, i)"
              placeholder="Choose Skill"
              formControlName="skillId"
              class="resourceFormGroup"
              id="skillName">
              <mat-option *ngFor="let skill of skills$ | async" [value]="skill.id">
                {{ skill.name }}
              </mat-option>
            </mat-select>

            <div
              *ngIf="form.controls.resources.touched && form.controls.resources.invalid"
              class="validation">
              <small *ngIf="resource.get('skillId').errors.required">
                Please enter required skill
              </small>
            </div>

            <mat-form-field class="resourceFormGroup">
              <mat-label placeholder="Enter hours" class="title-label">Hours:</mat-label>
              <input matInput type="number" formControlName="hours" />
            </mat-form-field>

            <div
              *ngIf="resource.get('hours').touched && resource.get('hours').invalid"
              class="validation">
              <small *ngIf="resource.get('hours').errors.required">
                Please enter required hours for the skill
              </small>
            </div>

            <button
              id="removeResourceBtn"
              (click)="removeResource(resource, i)">
              X
            </button>
          </div>

          <div formArrayName="tasks">
            <div class="taskBtn-container">
              <h3>Tasks:</h3>
              <button mat-raised-button id="addTaskBtn" (click)="addTask(i)">
                Add Task
              </button>
            </div>
            <div *ngFor="let task of resource['controls'].tasks.controls; let ix = index">
              <div [formGroupName]="ix" class="taskFormArray">
                <mat-select
                  [disabled]="task.value.userId && task.value.hours"
                  placeholder="Choose Employee"
                  (ngModelChange)="addUserToTiming(task)"
                  formControlName="userId"
                  class="taskFormGroup"
                  id="employeeName">
                  <mat-option
                    *ngFor="
                      let user of users$
                        | async
                        | filterUserByAvailability
                        | filterUserBySkill: searchSkill[i]"
                    [value]="user.id">
                    {{ user.firstName }}
                    {{ user.lastName }}
                    ({{ user.availability- availabilityCalculating(user) }})h
                  </mat-option>
                </mat-select>

                <div
                  *ngIf="task.get('userId').touched && task.get('userId').invalid"
                  class="validation">
                  <small *ngIf="task.get('userId').errors.required">
                    Please choose the employee
                  </small>
                </div>

                <mat-form-field class="taskFormGroup">
                  <mat-label placeholder="Enter hours" class="title-label">Hours:</mat-label>

                  <input
                    matInput
                    type="number"
                    (change)="addTaskHoursToTiming(task)"
                    [readonly]="task.value.hours > 0"
                    formControlName="hours"/>
                    <!-- <mat-slider  thumbLabel min="1" max="8" step="1" value="1" (valueChange)="addTaskHoursToTiming(task)" formControlName="hours"></mat-slider> -->

                </mat-form-field>



                <div
                  *ngIf="task.get('hours').touched && task.get('hours').invalid"
                  class="validation">
                  <small *ngIf="task.get('hours').errors.required">
                    Please enter the daily input
                  </small>
                </div>

                <button id="removeTaskBtn" (click)="removeTask(i, ix, task)">
                  X
                </button>
              </div>

              <div *ngIf="task.value.userId && task.value.hours" class="validation">
                <small *ngIf="task.value.hours > (findUser(task.value.userId).availability)">
                  Available work hours exceeded
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    id="createProjectBtn"
    (click)="createProject()">
    Create
  </button>
</mat-dialog-actions>
