/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #E3E2DF;
}

mat-label {
  color: rgb(241, 241, 241) !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgb(241, 241, 241) !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: rgb(241, 241, 241) !important;
}

/* .mat-input-element {
  color: rgb(12, 12, 12) !important;
} */

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgb(201, 201, 201) !important;
}

