
<mat-table [dataSource]="dataSource" matSort #sort1="matSort" class="body-table">
  <ng-container matColumnDef="name">
    <mat-header-cell title="Emloyee's full name" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let subordinate" id="user-name" [routerLink]="['/users', loggedUser.id]">{{ subordinate.firstName }} {{ subordinate.lastName }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="availability">
    <mat-header-cell title="Available workhours" *matHeaderCellDef mat-sort-header>Availability</mat-header-cell>
    <mat-cell *matCellDef="let subordinate">{{subordinate.availability}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
