<div fxLayoutAlign="flex-start">
  <mat-form-field appearance="fill" fxFlex="40%" >
    <mat-label>Filter...</mat-label>
    <input matInput style="color: white;" type="text" (keyup)="doFilter($event.target.value)" id="filter">
  </mat-form-field>

  <button mat-raised-button class="create-skill-button" (click)="openDialog()">Create Skill</button>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>№</mat-header-cell>
    <mat-cell *matCellDef="let skill">{{ skill.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let skill">{{ skill.name | titlecase }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="12" [pageSizeOptions]="[5, 12, 20]">
</mat-paginator>
