mat-header-cell {
  background-color: hsla(341, 80%, 22%, 0.7);
  color: white;
  font-size: 1rem;
}

.create-skill-button {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #630b27;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: white!important;
}

#filter {
  color: white;
}
