<h2 mat-dialog-title class="dialog-title">Create Skill</h2>

<mat-dialog-content class="mat-typography">

  <input matInput placeholder="Please enter a skill name" class="skill-input" [(ngModel)]="name" [formControl]="nameFormControl">
  <div *ngIf="nameFormControl.touched && nameFormControl.invalid" class="validation">
    <small *ngIf="nameFormControl.errors.required">
      Please enter a skill name
    </small>
  </div>

  <div *ngIf="nameFormControl.touched && nameFormControl.invalid" class="validation">
    <small *ngIf="nameFormControl.errors.minlength">
      Skill name should be at least 2 characters long
    </small>
  </div>

  <div *ngIf="nameFormControl.touched" class="validation">
    <small *ngIf="existingSkills.includes(nameFormControl.value)">
      This skill already exists
    </small>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
  <button mat-button [mat-dialog-close]="true" class="create-btn" cdkFocusInitial
    (click)="createSkill()">Create</button>
</mat-dialog-actions>
