.mat-typography {
  min-height: 200px;
  min-width: 250px;
  border-bottom: rgba(141, 23, 60, 0.7) solid 1px;
  border-top: rgba(141, 23, 60, 0.7) solid 1px;
  justify-content: center;
}

.dialog-title {
  width: 200px;
}

.create-btn {
  background-color: rgba(148, 28, 28, 0.32);
}

.skill-input {
  margin-top: 20px;
}

.validation {
  color: red;
}
