<h2 mat-dialog-title>Create Resource</h2>

  <mat-dialog-content class="mat-typography" >
    <form [formGroup]="form" fxFlex="500px">
      <div class="resourceForm">
        <mat-select [(ngModel)]="searchSkill" placeholder="Choose Skill" formControlName="skillId" class="resourceFormGroup" id="skillName">
          <mat-option *ngFor="let skill of skills$ | async" [value]="skill.id" >
            {{ skill.name }}
          </mat-option>
        </mat-select>

        <mat-form-field class="resourceFormGroup">
          <mat-label placeholder="Enter hours" class="title-label">Hours:</mat-label>
          <input matInput type="number" formControlName="hours" >
        </mat-form-field>
      </div>


      <div formArrayName="tasks">
        <div class="taskBtn-container">
          <h3>Tasks:</h3>
        </div>

        <div *ngFor="let task of tasks.controls; let i=index">
          <div [formGroupName]="i" class="taskFormArray">
            <mat-select [disabled]="task.value.userId && task.value.hours" placeholder="Choose Employee" (ngModelChange)="addUserToTiming(task)" formControlName="userId" class="taskFormGroup" id="employeeName">
              <mat-option *ngFor="let user of users$ | async | filterUserBySkill:searchSkill" [value]="user.id">
                {{ user.firstName }}
                {{ user.lastName }}
                ({{ user.availability - availabilityCalculating(user) }})h
              </mat-option>
            </mat-select>

            <mat-form-field class="taskFormGroup">
              <mat-label placeholder="Enter hours" class="title-label">Hours:</mat-label>
              <input matInput type="number" (change)="addTaskHoursToTiming(task)" formControlName="hours">
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" id="createResourceBtn" cdkFocusInitial (click)="onCreateResource()">Create</button>
  </mat-dialog-actions>
