<div fxLayoutAlign="flex-start">
  <mat-form-field fxFlex="40%">
    <mat-label class="filter">Filter...</mat-label>
    <input matInput  type="text" (keyup)="doFilter($event.target.value)">
  </mat-form-field>

  <button mat-raised-button class="create-project-button" (click)="openDialog()"
    [disabled]="loggedUser?.availability <= 0" title="Your availability is {{ loggedUser?.availability}}">Create
    Project</button>
</div>


<mat-table [dataSource]="dataSource" matSort class="body-table">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
    <mat-cell *matCellDef="let project" id="project-name" [routerLink]="['/projects', project.id]">{{ project.title }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="manager">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Manager</mat-header-cell>
    <mat-cell *matCellDef="let project" id="manager-name" [routerLink]="['/users', project.manager.id]">
      {{ project.manager.firstName }} {{ project.manager.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.status | titlecase }}</mat-cell>
  </ng-container>

  <ng-container  matColumnDef="capacity">
    <mat-header-cell title="Number of employees, working on the project" *matHeaderCellDef mat-sort-header>Capacity</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.tasks.length }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.startDate | date}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Deadline</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.endDate | date}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ETC">
    <mat-header-cell title="Estimated time of completion" *matHeaderCellDef mat-sort-header>ETC</mat-header-cell>
    <mat-cell *matCellDef="let project">

      <div *ngIf="project.status === 'in-progress'">
        {{this.coreService.calculateEndDate(project) | date}}
      </div>

      <div *ngIf="project.status !== 'in-progress'">
        {{project.completeDate | date}}
      </div>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="12" [pageSizeOptions]="[ 5, 12, 20]">
</mat-paginator>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
