.body-table {
  background-color: #EEEEEE;
}

mat-header-cell {
  background-color: hsla(341, 80%, 22%, 0.7);
  color: white;
  font-size: 1rem;
}

.create-project-button {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #630b27;
  border-color: #630b27;
  border-width: 2px;
}

.create-project-button:disabled {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #EEEEEE;
  border-width: 2px;
  --inv: #fff;
}

mat-cell {
  font-size: 0.9rem;
}

::ng-deep .mat-form-field-infix .ng-tns-c175-17 {
  color:white!important;
}
::ng-deep .mat-form-field-wrapper .ng-tns-c175-17{
  color:white!important;
}

#manager-name:hover {
  cursor: pointer;
}

#project-name:hover {
  cursor: pointer;
}

.filter {
  color: rgb(182, 182, 182) !important;
}

mat-form-field {
  color: rgb(182, 182, 182);
}
